<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center h-full flex flex-column justify-content-center">
    <ng-container *ngIf="$tokenData | async as data">
        <div class="mb-6 font-bold text-3xl flex flex-column">
            <span class="text-900">Account Details</span>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-user text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Information</div>
                <span class="text-700 line-height-3">Name: {{ data.username }}</span>
            </div>
            <div class="col-12 md:col-6 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-lock text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Role</div>
                <span class="text-700 line-height-3">{{ data.role }}</span>
            </div>
        </div>
    </ng-container>
</div>
