<div class="grid grid-nogutter surface-section text-800 h-full">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Explore</span>
            <div class="text-6xl text-primary font-bold mb-3">Latest news</div>
            <p class="mt-0 mb-4 text-700 line-height-3">“Welcome to News App - Your Trusted Source for Real-Time Updates and In-Depth Analysis”</p>
        </section>
    </div>

    <div class="image col-12 md:col-6 overflow-hidden" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"></div>
</div>
